<h1>New Coupon</h1>

<%= form_with url: merchant_coupons_path(@merchant), method: :post, data: { turbo: false } do |form| %>
  <%= form.label :name, "Name: " %>
  <%= form.text_field :name %></br>

  <%= form.label :special_code, "Special Code: " %>
  <%= form.text_field :special_code %></br>

  <%= form.label :amount_off, "Amount Off: " %>
  <%= form.text_field :amount_off %></br>

  <%= form.label :percent_off, "Percentage Off: " %>
  <%= form.select :percent_off, [true, false] %></br>

  <%= form.submit "Create Coupon" %>
<% end %>